.bg-picture{
    background-image: url('../../public/loginBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.input_field{
    width: 300px;
    height: 30px;
    margin-top: 15px;
    background: transparent;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.2rem;
    outline: none;
}